@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Permanent+Marker&family=Press+Start+2P&family=Roboto+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    background-color: #457b9d;
    color: #f1faee;
    height: 80px;
    font-size: 27px;
    padding: 0 12px;
    font-family: 'Roboto Mono', monospace;
}

nav ul {
  list-style-type: none;
  font-weight: 700;
}

nav li img {
    height: 30px;
    width: 30px;
    margin-top: 10px;
}

nav li {
    text-align: center;
}

.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    font-family: 'Permanent Marker', cursive;
    position: relative;
    margin-left: 350px;
    margin-top: 30px;
}

.box{
    border: 2px solid rgb(19, 18, 18);
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: #f1faee;
}

.info{
    font-size: 20px;
    flex-wrap: wrap;
    display: flex;
    margin: 75px 0;
    color: #e63946;
}

.gameInfo{
    padding: 0 34px;
    height: 83vh;
    background-color: #a8dadc;
    position: absolute;
    left: 0px;
    top: 80px;
    font-family: 'Press Start 2P', cursive;
    box-shadow: 5px 0 10px #a8dadc;
}

.gameInfo h1{
    font-size: 30px;
    margin-top: 90px;
    color: #1d3557;
}

.imgBox img {
  width: 0;
  transition: width 1s ease-in-out;
}

.br-0 {
  border-right: 0;
}

.bl-0 {
  border-left: 0;
}

.bt-0 {
  border-top: 0;
}

.bb-0 {
  border-bottom: 0;
}

#reset {
  margin: -26px 100px;
  padding: 10px 25px;
  background: #e63946;
  border-radius: 12px;
  box-shadow: 0 0 10px #1d3557;
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  color: #f1faee;
  border: none;
}

.line{
    background-color: #e63946;
    height: 5px;
    width: 0;
    position: absolute;
    transition: width 1s ease-in-out;
}

footer {
    position: relative;
    background-color: #1d3557;
    color: #f1faee;
    height: 40px;
    font-size: 20px;
    z-index: 100;
    bottom: -47px;
    text-align: center;
    font-family: 'Roboto Mono', monospace; 
}

footer span {
    position: absolute;
    margin-top: 3px;
    left: 45%;
}
.js-logo {
    width: 30px;
    height: 30px;
    margin-bottom: -3px;
}

@media screen and (max-width: 950px)
{
   @media screen and (max-width: 950px) {
  .gameContainer {
    flex-wrap: wrap;
  }

  .gameInfo {
    margin-top: 70px;
  }

  .container {
    display: grid;
    grid-template-rows: repeat(3, 20vw);
    grid-template-columns: repeat(3, 20vw);
   }
  }